.Signature {
  font-family: "PT Mono", monospace;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  padding-top: 30px;
}
@media (max-width: 360px) {
  .Signature{
    font-size: 12px;
  }  
}
.SignatureLink {
  color: #26b6d7;
}
