body {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Helvetica", sans-serif;
  height: 100vh;
  padding: 40px;
}
body.day {
  background: linear-gradient(
    76.8deg,
    rgb(81, 41, 122) 3.6%,
    rgb(63, 165, 205) 90.4%
  );
}
body.night {
  background: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(57, 50, 158) 90.4%
  );
}
a {
  text-decoration: none;
  color: #26c9fc;
}
a:hover,
a:focus {
  color: white;
  cursor: pointer;
}
ul {
  list-style: none;
  padding-left: 0;
}
/* Change the background color of the alert container */
.Toastify__toast {
  background-color: #513093;
}

/* Change the text color of the alert message */
.Toastify__toast-body {
  color: #ffffff;
  /* color:#26c9fc; */
}

/* Change the font size of the alert message */
.Toastify__toast-body {
  font-size: 16px;
}

/* Add a border to the alert container */
.Toastify__toast {
  box-shadow: 5px 5px 10px rgb(255 255 255 / 30%);
  border: 1px solid white;
  border-radius: 10px;
  transition: all 2.5ms ease-in-out;
  margin: 10px auto;
  padding: 30px 40px;
  text-align: center;
  max-width: 340px;
  width: 100%;
}
@media (max-width: 360px) {
  .Toastify__toast {
    margin: 40px auto;
    width: 280px;
  }
}