/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Helvetica", sans-serif;
  height: 100vh;
  padding: 40px;
}
body.day {
  background: linear-gradient(
    76.8deg,
    rgb(81, 41, 122) 3.6%,
    rgb(63, 165, 205) 90.4%
  );
}
body.night {
  background: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(57, 50, 158) 90.4%
  );
}
a {
  text-decoration: none;
  color: #26c9fc;
}
a:hover,
a:focus {
  color: white;
  cursor: pointer;
}
ul {
  list-style: none;
  padding-left: 0;
}
