.CurrentForecast .Current {
  max-width: 1000px;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 30%);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.CurrentForecast .Current:hover,
.CurrentForecast .Current:focus {
  cursor: pointer;
  transform: scale(1.1);
}
